In [1]:
## Python Dictionary
#Left: Key, Right: Value
# We cannot get thorough INDEX (location: 0,1,2,3...), But only through Key

In [2]:
d={2:3, 'a':5, 'avi': 67}

In [3]:
d[2]

3

In [4]:
d['avi']

67

In [5]:
type(d)

dict

In [6]:
# If we casting the Dictionary --> We get the keys
list(d)

[2, 'a', 'avi']

In [7]:
list(d)

[2, 'a', 'avi']

In [8]:
set(d)

{2, 'a', 'avi'}

In [9]:
tuple(d)

(2, 'a', 'avi')

In [10]:
# we get list in a tuple
d.values()

dict_values([3, 5, 67])

In [11]:
x = d.values()

In [12]:
x

dict_values([3, 5, 67])

In [25]:
# If we turn it to list - we can use location x[0]
x = list(d.values())

In [26]:
x[0]

3

In [27]:
d.keys()

dict_keys([2, 'a', 'avi'])

In [30]:
y = list(d.keys())

In [31]:
y

[2, 'a', 'avi']

In [20]:
# How do we fing the Key of value 5?

In [21]:
x.index(5)

1

In [32]:
y[1]

'a'

In [33]:
y[x.index(5)]

'a'

In [34]:
## Can this be done? -- Below:

In [35]:
d = {(4,5): 'A'}

In [36]:
d

{(4, 5): 'A'}

In [37]:
#List cannot be a key. but Tuple CAN be a key ().

In [38]:
d[(4,5)]

'A'

In [39]:
# Can Value be a key?

In [40]:
d = {'a':(2,3)}

In [41]:
d['a']

(2, 3)

In [42]:
## Key can be only a tuple
## Value can be anything

In [45]:
# How do we get to '5'?
# we use one key, to get to another key
d={'a': {'b':5}}

In [46]:
d['a']['b']

5

In [53]:
#Another example
d = {'rich': {'amit':22, 'david': 19, 'ido':18, 'ori':11},
'shalev':{'tomu':20, 'romi':19}}

In [55]:
d['rich']['ori']

11

In [58]:
d['shalev']['romi']

23

In [59]:
# Here we change the age --> The values has changed, the key remain the same
d['shalev']['romi'] = 23

In [ ]:
# DICTIONARY:

In [60]:
## Exersice: Dictionary
# ID, Name, City

In [66]:
id = input ('please enter your ID')
name = input ('please enter your Name')
city = input('please enter your City')

d = {'id' : id, 'name' : name, 'city' : city}

please enter your ID0123456
please enter your Nameefrat
please enter your CityPirentze

In [67]:
d

{'id': '0123456', 'name': 'efrat', 'city': 'Pirentze'}

In [68]:
#Dictionary with students Grades:
# Who got 60?

In [69]:
d={'alex':90, 'ben':100, 'elad':60, 'dani': 75}

In [75]:
#Step 1 - Get the values
list(d.values())

[90, 100, 60, 75]

In [76]:
# step 2 - Get the location of value 60
list(d.values()).index(60)

2

In [71]:
# step 3 - get the key of location 2
list(d.keys())[list(d.values()).index(60)]

'elad'

In [72]:
# Exersice 30 from Here:
# https://www.w3resource.com/python-exercises/dictionary/

In [73]:
# 30. Write a Python program to get the top three items in a shop.
# Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
# Expected Output:
# item4 55
# item1 45.5
# item3 41.3

In [127]:
tg = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

In [128]:
list(tg.values())

[45.5, 35, 41.3, 55, 24]

In [129]:
tg1 = sorted(list(tg.values()))

In [130]:
tg1

[24, 35, 41.3, 45.5, 55]

In [132]:
for i in range (1,4):
    print(list(tg.keys())[list(tg.values()).index(tg1[i*-1])] , 
         tg1[i*-1])

item4 55
item1 45.5
item3 41.3

In [113]:
## answer from class:
d={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

In [114]:
d.values()

dict_values([45.5, 35, 41.3, 55, 24])

In [115]:
x = list(d.values())

In [123]:
x.sort()

In [120]:
x = list(d.values())
x.sort()
for i in range (1,4):
    print(list(d.keys())[list(d.values()).index(x[i*-1])] , 
         x[i*-1])

item4 55
item1 45.5
item3 41.3

In [143]:
# Ex 
d = {'math': 81, 'Physics': 83, 'Chemistry': 87}

In [144]:
x = list (d.values())

In [147]:
x = list(d.values())
x.sort(reverse=True)
for i in (x):
    print(list(d.keys())[list(d.values()).index(i)] , i)

Chemistry 87
Physics 83
math 81

In [148]:
x

[87, 83, 81]

In [149]:
# For Loop

In [150]:
# For i In: This is a loop (the word 'python' is a collection of characters. each character is an array)
for i in 'python':
    print(i)

p
y
t
h
o
n

In [151]:
# run this, make sure all items are summerized to one result
# we can't sum a list inside a list
ls = [1,3,4,[5,6,7,8,9]]

In [157]:
for i in ls:
sum(ls)
print(Sum)
    print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (412242534.py, line 2)

In [158]:
ls1 = [1,2,3,4]
sum (ls1)

10

In [162]:
# Answer from class (i gets the VALUES) ls = [ints [list]]
ls = [1,2,3,4, [5,6,7,8,9]]
k=0
for i in ls:
    if type(i)==list:  # the sum of 5,6,7,8,9
        k = k+ sum(i)
    else:
        k = k+i   #the sum of 1,2,3,4 
print (k)

45

In [161]:
ls = [1,2,3,4, [5,6,7,8,9]]
k=0
for i in ls:
    if type(i)==list:
        k = k+ sum(i)
    else:
        k = k+i    
print (k)

45